body
  background-color #44AA44
  color white
  font-family sans-serif

a
  font-weight bold
  text-decoration none
  color inherit

a:hover
  text-decoration underline

h3
  font-variant small-caps
  font-size 26px

div.subject
  width 28%
  padding 20px
  float left

div.project
  width 28%
  padding 20px
  float left
  min-height 520px
  text-align center

p.related
  font-style italic
//.project img
//  float right

h1
  font-variant small-caps

.spacer
  width 100% 
  clear both

#presentation
  background-color #44AA44
  border 10px solid #44AA44


#photo
  float right
  padding-left 20px
  padding-top 20px
  width 150px

#publication
  background-color #45B0E3
  border 10px solid #45B0E3
  min-height 400px

#pictures
  background-color #FF0084
  border 10px solid #FF0084
  min-height 400px
#pictures h3
  text-align center

#newebe
  background-color #FFFFFF
  color #000000
  border 10px solid black

#artforge
  background-color #F4A012
  color #fff3dd
  border 10px solid #ffe3b3

#beburlesque
  background-color #473531
  color #fbe3dd
  border 10px solid #fbe3dd

#your-project
  border 10px solid transparent
#twinkso
  background-color black
  border 10px solid white

#dolebrai
  background-color #6833CC
  color #EFE8FA
  border 10px solid #EFE8FA

#latest-flickr-images ul
  list-style-type none

.emphaze
  font-style italic
  font-size 20px
