body
  background-color #848
  color white
  font-family sans-serif

//  background-color #44AA44

a
  font-weight bold
  text-decoration none
  color inherit

a:hover
  text-decoration underline

h1
  font-size 26px
  font-variant small-caps
  text-align center

h2
  margin-top 40px
  font-size 22px

h3
  font-variant small-caps
  font-size 26px
  text-align center

.twtr-hd 
.twtr-ft
  display none

div.subject
  width 27%
  padding 20px
  min-height 490px
  float left
  border 10px solid transparent

div.project
  width 27%
  padding 20px
  float left
  min-height 600px
  text-align center
  border 10px solid transparent

p.related
  font-style italic

.spacer
  width 100% 
  clear both

#presentation
  background-color #44AA44


#photo
  float right
  padding-left 20px
  padding-top 20px
  width 150px

#publication
  background-color #45B0E3
  text-align center

#pictures
  background-color #FF0084
  text-align center
  
#pictures h3
  text-align center

#newebe
  background-color #FFFFFF
  color #000000

#artforge
  background-color #F4A012
  color #fff3dd

#beburlesque
  background-color #473531
  color #fbe3dd

#your-project
  border 10px solid transparent
  background-color #4A4

#twinkso
  background-color black

#dolebrai
  background-color #6833CC
  color #EFE8FA


#latest-flickr-images ul
  list-style-type none
  margin 0
  padding 0

#latest-flickr-images li
  margin 0
  padding 0

.emphaze
  font-style italic
  font-size 20px
