@font-face {
  font-family: main;
  font-style: normal;
  src: url("fonts/lato.woff");
}
@font-face {
  font-family: styled;
  font-style: normal;
  src: url("fonts/freight-light.woff");
}
body {
  background-color: #fefefe;
  color: #333;
  font-family: styled;
  font-size: 1.5em;
  margin: 0;
  padding: 1em;
}
#photo {
  margin-bottom: 2em;
}
p:first-child {
  margin-bottom: 1em;
}
p:last-child {
  margin-bottom: 0;
}
#photo {
  border-radius: 50%;
}
.headline {
  text-align: center;
  font-size: 2.8em;
  line-height: 1.3em;
  min-height: 90vh;
  padding-top: 20vh;
  padding-right: 1em;
  padding-left: 1em;
}
.headline .main {
  font-weight: bold;
}
@media (max-width: 1400px) {
  .headline {
    font-size: 2.4em;
  }
}
@media (max-width: 1100px) {
  .headline {
    font-size: 2em;
  }
}
@media (max-width: 900px) {
  .headline {
    font-size: 1.8em;
  }
}
@media (max-width: 800px) {
  .headline {
    font-size: 1.5em;
  }
}
@media (max-width: 650px) {
  .headline {
    font-size: 1.2em;
    min-height: 40vh;
  }
}
.content {
  max-width: 800px;
  margin: auto;
}
.center {
  text-align: center;
}
.dots {
  font-size: 0.7em;
  padding: 2em;
}
.dots span {
  margin: 0.6em;
}
.dots .green {
  color: #8dd593;
}
.dots .blue {
  color: #8595e1;
}
.dots .red {
  color: #e07b91;
}
a,
a:hover,
a:visited {
  color: #333;
}
a:visited {
  color: #333;
}
.social {
  margin: 2em 0 6em 0;
}
.social img {
  width: 2em;
  margin: 0 1em;
}
.footer-image {
  width: 100%;
}
.mt2 {
  margin-top: 2em;
}
